@charset 'utf-8';

@import 'variables.scss';
@import '../../node_modules/bulma/bulma.sass';

.is-secondary,
.has-text-secondary {
  color: $secondary;
}

.is-tertiary,
.has-text-tertiary {
  color: $tertiary;
}

.page-leave-active {
  transition: all .8s cubic-bezier(.55,0,.1,1);
}

.page-enter-active {
  transition: all .4s cubic-bezier(.55,0,.1,1);
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
